
@{
    ViewBag.Title = "UserDashboard";
}

<h2>UserDashboard</h2>
<a href="@Url.Action("Index", "Request")" style="color:#FF69B4">Laundry Request</a>
<a href="@Url.Action("Profile", "Login")" style="color:#FF69B4">My Profile</a>
<a href="@Url.Action("ChangePassword", "Login")" style="color:#FF69B4">Change Password</a>
<a href="@Url.Action("Status", "Request")" style="color:#FF69B4">View Status</a>

